<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDm-b1nMmwr_wbfocLuyhnoaq5aw6XW0C0</string>
	<key>GCM_SENDER_ID</key>
	<string>476060949860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.laptopHarborApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>harbor-laptop</string>
	<key>STORAGE_BUCKET</key>
	<string>harbor-laptop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476060949860:ios:576262f023831d123b2e71</string>
</dict>
</plist>